echo "KEEPA_API_KEY=ebd8qlvuek41qlsud8fb03qme7itf5n19gmdlervnujvon0ha7ndq47agrg25jj5
PROJECT_ROOT=/Users/takaetetsuhiro/Desktop/amazon_profit_calculator
DB_FILE=product_cache.db
FEE_STRUCTURE_FILE=amazon_fee_structure.json" > /Users/takaetetsuhiro/Desktop/amazon_profit_calculator/config.env