# Python
   __pycache__/
   *.py[cod]
   *$py.class
   venv/

   # macOS
   .DS_Store

   # IDEs
   .vscode/

   # Project specific
   *.log
   *.csv
   *.json
   !requirements.txt
   !amazon_fee_structure.json

   # Other
   *.pdf
   *.jpg
   *.png
   *.webp